<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>myservlet</servlet-name>
    <servlet-class>AddStudent</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>myservlet</servlet-name>
    <url-pattern>/myservlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>studentdelete</servlet-name>
    <servlet-class>DeleteServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>studentdelete</servlet-name>
    <url-pattern>/studentdelete</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>editstudent</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>editstudent</servlet-name>
    <url-pattern>/editstudent</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>allstudent</servlet-name>
    <servlet-class>AllStudent</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>allstudent</servlet-name>
    <url-pattern>/allstudent</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>updatestudent</servlet-name>
    <servlet-class>UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestudent</servlet-name>
    <url-pattern>/updatestudent</url-pattern>
  </servlet-mapping>



  
  <context-param>
    <param-name>jdbcURl</param-name>
    <param-value>jdbc:mysql://localhost:3306/bookstore</param-value>
  </context-param>
  
  <context-param>
    <param-name>jdbcUsername</param-name>
    <param-value>root</param-value>
  </context-param>
  
  <context-param>
    <param-name>jdbcpassword</param-name>
    <param-value></param-value>
  </context-param>


<welcome-file-list>
  <welcome-file>addstudent.jsp</welcome-file>
</welcome-file-list>



</web-app>
